/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.ab-col-md-6 {
	float:left;
	width:50%;
}

#ab-login input {
	width:100%;
}

#ab-login button {
	padding:30px;
	margin-top:30px;
	line-height: 0px;
}

.ab-login-envato-desc {
	color:#666;
}

.ab-login-box {
	width:70%;
	margin:auto;
	border: 1px solid #e5e5e5;
	border-radius: 11px;
	padding: 24px;
	min-height:255px;
	background:white;
	min-height: 420px;
}

.ab-login-logo {
	height:150px;
	width:150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-bottom: 30px;
}

@media screen and (max-width:782px) {
	.ab-col-md-6 {
		width:100%;
		margin-bottom:25px;
	}
}

#ab-logout {
	float: left;
    margin-top: 12px;
    margin-left: 20px;
}

#ab-charts {
	clear: both;
}

.ab-lefty {
	float: left;
}

.ab-loading {
	height: 300px;
	width: 100%;
}

.button-ab {
	background-color: #54AFF6 !important;
	margin-top: 30px !important;
}

.ab-discover {
	width:70%;
	margin:auto;
	border: 1px solid #e5e5e5;
	border-radius: 11px;
	padding: 24px;
	min-height:255px;
	background:white;
	min-height: 420px;
}

.ab-discover p {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.button.button-ab {
	background: #54aff6 !important;
	margin-top: 30px !important;
	color: #ffffff !important;
	margin: 18px 0 34px;
	height: 50px;
	border: 1px #54aff6 solid;
	border-radius: 0;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	line-height: 52px;
	text-shadow: none;
}

.ab-discover {
	text-align: center;
}

.clear {
	clear: both;
}